@media print {
  html {
    font-size: 12px;
  }
  .comment-container,
  .pagination,
  footer .powered_by {
    display: none;
  }
  .header-anchor {
    display: none;
  }
  pre > code {
    border-top: 1px solid var(--primary-300);
    border-bottom: 1px solid var(--primary-300);
  }
}
@page {
  margin: 20mm;
  @bottom-center {
    content: counter(page);
    font-size: 12px;
    font-family: var(--normal-font-face);
  }
}
@page:first {
  @top-left {
    content: var(--page-url);
    font-size: 12px;
    font-family: var(--normal-font-face);
  }
}
